body{
    font-family:ariel, sans-serif;
    backround-color: #f8c3f1;
    color: #00a56e;
}
header{
    background-color:rgb(157, 80, 221);
    color:aquamarine;
    padding: 20px;
    text-align:center;
}
nav{
    background-color: #ffa8fb;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}
nav ul li{
    display:inline;
    margin: 0 10px;
}
na ul li a{
    text-decoration:none;
    color: #ff0000;
    font-weight:bold;
}
nav ul li a: hover{
    color: #0000ff;
}
main{
    padding: 20px;
}
h1,h2{
    color: #ff0000;
}
strong{
    color:bisque;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td{
    border: 1px solid #000000;
}
th, td{
    padding: 10px;
    text-align: left;
}
th{
    background-color:aliceblue;
}
img{
    width: 400px;
    height:auto;
    margin: 20 px 0;
    display: block;
}
footer {
    background-color: #f5c31d;
    color:darkorchid;
    text-align:center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width:100%;
}
footer a {
    color:rgb(14, 91, 163);
    text-decoration: none;
}
footer a:hover{
    text-decoration:undeline;
}